<!doctype html>

<html>
    <head>
        <title>{{.title}}</title>
        {{include "globals/header"}}
        <link
            href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet"
        />
     
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
        <link rel="stylesheet" href="index.css" />

    </head>
    <body>
        <form action="/create-rules" method="POST">
            <div>
                <label for="stateValue">State Value:</label>
                <input type="text" name="stateValue" id="stateValue"/>
            </div>
            <div>
                <label for="readValue">Read Value:</label>
                <input type="text" name="readValue" id="readValue"/>
            </div>
            <div>
                <label for="writeValue">Write Value:</label>
                <input type="text" name="writeValue" id="writeValue"/>
            </div>
            <div>
                <label for="nextValue">Next Value:</label>
                <input type="text" name="nextValue" id="nextValue"/>
            </div>
            <div>
                <label for="move-dropdown">Select Move:</label>
                <select name="moveValue" id="move-dropdown">
                    <option default value="null">Select Move</option>
                    <option value="Left">Left</option>
                    <option value="Right">Right</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
           <!-- ✅ load jQuery ✅ -->
        <script
           src="https://code.jquery.com/jquery-3.6.0.min.js"
           integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
           crossorigin="anonymous"
        ></script>

        <!-- ✅ load jQuery UI ✅ -->
        <script
           src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
           integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
           crossorigin="anonymous"
           referrerpolicy="no-referrer"
        ></script>

        <script>
            $(document).ready(function() {
                console.log("jQuery loaded!");

                $("#state-slider").slider({
                    value: 0,
                    min: 0,
                    max: 10,
                    step: 1,
                    change: function(event, ui){
                        $("#state-value").text($("#state-slider").slider("value"));
                    }
                });

                $("#read-slider").slider({
                    value: 0,
                    min: 0,
                    max: 10,
                    step: 1,
                    change: function(event, ui){
                        $("#read-value").text($("#read-slider").slider("value"));
                    }
                });

                $("#write-slider").slider({
                    value: 0,
                    min: 0,
                    max: 10,
                    step: 1,
                    change: function(event, ui){
                        $("#write-value").text($("#write-slider").slider("value"));
                    }
                });

                $("#next-slider").slider({
                    value: 0,
                    min: 0,
                    max: 10,
                    step: 1,
                    change: function(event, ui){
                        $("#next-value").text($("#next-slider").slider("value"));
                    }
                });

        

                $("#submit-btn").on("click", function(){
                    var stateValue = $("#state-slider").slider("value");
                    var readValue = $("#read-slider").slider("value");
                    var nextValue = $("#next-slider").slider("value");
                    var writeValue = $("#write-slider").slider("value");
                    var moveValue = $("#move-dropdown").val();
                    console.log(stateValue);
                    console.log(readValue);
                    console.log(nextValue);
                    console.log(writeValue);
                    console.log(moveValue);

                    $.ajax({
                        url: "/create-rules",
                        method: "POST",
                        dataType: "JSON",
                        data: { 
                            stateValue: stateValue,
                            readValue: readValue,
                            writeValue: writeValue,
                            nextValue: nextValue,
                            moveValue: moveValue
                        },
                        success: function(result){
                            console.log(result);
                        },
                        error: function(err){
                            console.log(err);
                        }
                    });
                });

             
            });
           
        
        </script>
    </body>    
</html>

