Date: {[{.now | formatAsDate}]}

<body>
    {{ template "header.tmpl" .}}
    <div>
        {{ template "main\\dashboard.tmpl" .}}
    </div>
    {{ template "globals\\footer.tmpl" .}}
</body>